[Desktop Entry]
Comment=
Encoding=UTF-8
Exec='/usr/bin/mandrakegalaxy.real'
GenericName=
Icon=/usr/share/icons/mandrakegalaxy.png
MimeType=
Path=
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Name=Welcome
Name[en_GB]=Welcome
Name[en_US]=Welcome
Name[fr]=Bienvenue
Name[ar]=أهلاً بكم
Name[az]=Xoş Gəlmişsiniz!
Name[bg]=Добре дошли
Name[bs]=Dobro došli
Name[ca]=Benvingut
Name[cs]=Vítejte
Name[cy]=Croeso
Name[da]=Velkommen
Name[de]=Herzlich Willkommen!
Name[el]=Καλώς Ορίσατε
Name[eo]=Bonvenon
Name[es]=Bienvenido
Name[et]=Tere tulemast
Name[fi]=Tervetuloa
Name[fr]=Bienvenue
Name[he]=ברוך בואך
Name[hi]=स्वागत
Name[hu]=Üdvözöljük
Name[it]=Benvenuto
Name[ja]=ようこそ
Name[nl]=Welkom
Name[nb]=Velkommen
Name[no]=Velkommen
Name[pl]=Witajcie
Name[pt]=Bemvindo
Name[pt_BR]=Bem-vindo
Name[ro]=Bun venit
Name[ru]=Добро пожаловать
Name[sk]=Vitajte
Name[sl]=Dobrodošli
Name[sq]=Mirësevini
Name[sr]=Добродошли
Name[sr@Latn]=Dobrodošli
Name[sv]=Välkommen
Name[ta]=வருக
Name[tg]=Марҳамат Намоед
Name[tr]=Hoşgeldiniz
Name[uk]=Ласкаво просимо!
Name[uz]=Marhamat
Name[uz@Cyrl]=Марһамат
Name[vi]=Chào Mừng
Name[wa]=Bénvnowe
Name[zh_CN]=欢迎
Name[zh_TW]=歡迎

